* {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 70px 0 0 0;
    padding: 0;
    background-color: #f7f7f7;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
header:hover{
    box-shadow:0 -20px 30px #4d4d4d;
}
nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}
nav div{
    height: 70px;
    flex-grow: 4;
    padding: 10px 30px;
}
nav div.logo-container img {
    height: 100%;
}
nav div.cart-container {
    text-align: right;
}
nav div.cart-container img {
    height: 50px;
    margin-top: 10px;
}
nav div.cart-container span {
    position: absolute;
    display: block;
    z-index: 1;
    width: 25px;
    height: 25px;
    background-color: #ff5c18;
    right: 15px;
    top: 14px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    border-radius: 100%;
}

section {
    display: flex;
    width: 80%;
    margin: 30px auto;
}

section div#item-container{
    flex-grow: 10;
}
section div.suggested-container{
    flex-grow: 2;
}
.add-to-cart{
    padding: 10px;
    color: #ffffff;
    background-color: #455a64;
    border: 1px solid #35444d;
    border-radius: 3px;
}
.add-to-cart:hover{
    cursor: pointer;
    border: 1px solid #455a64;
}
.remove-from-cart{
    padding: 10px;
    color: #ffffff;
    background-color: #642027;
    border: 1px solid #341114;
    border-radius: 3px;
}
.remove-from-cart:hover{
    cursor: pointer;
    border: 1px solid #642027;
}
#item-container h1{
    margin: 15px 15px;
}

#item-container .gallery{
    text-align: center;
}

#item-container .thumbnails img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top center;
    float: left;
    margin-right: 20px;
    cursor: pointer}

#item-container .thumbnails img:hover{
    cursor: pointer;
    opacity: .7;
}

#item-container .thumbnails::after{
    display: block;
    content: "";
    clear: both;
}

.suggested-container h3 {
    margin: 15px;
    padding: 15px;
    color: #ffffff;
    background-color: #455a64;
}
.suggested-container ul {
    margin: 15px;
    padding: 0;
}
.suggested-container ul li {
    list-style: none;
}
.suggested-container ul li div {
    margin: 20px 0;
}

.suggested-container ul li img{
    width: 20%;
    height: 150px;
    object-fit: cover;
    object-position: top center;
    float: left;
    margin-right: 20px;
}

.suggested-container ul li div::after {
    content: "";
    display: block;
    clear: both;
}

.suggested-container ul li h4{
    margin-top: 0;
    margin-bottom: 10px;
}
.suggested-container ul li h4 a{
    color: #1a1a1a;
    text-decoration: none;
}
.suggested-container ul li h4 a:hover{
    color: #ff5f52;
    text-decoration: underline;
}
.suggested-container ul li small{
    color: #bcbcbc;
}
footer{
    color: #cccccc;
    text-align: center;
}
.comment-contents{
    margin: 30px 0;
}
.comment-contents .comment{
    padding: 15px;
    background-color: #9ED0DB;
    border-radius: 20px;
    margin: 10px 0;
}
.comment-box{
    margin-top: 30px;
}
.comment-box textarea{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    font-size: 12px;
    border: 1px dashed #000000;
    resize: none;
}

@media screen and (max-width: 768px) {
    section{
        flex-direction: column;
    }
}